.book-form {
  width: 400px;
  margin: 10px;
  padding: 0 5px 5px 5px;
  border: 1px solid black;
  position: relative;

  & input {
    float: right;
  }

  .form-title {
    text-align: center;
    font-weight: bold;
  }

  .sub-form {
    margin: 0 10px 5px 10px;
    padding: 0 5px;
    border: 1px dashed black;
  }

  .form-actions {
    text-align: right;
    margin-right: 10px;

    .form-button {
      margin-left: 5px;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
    }
  }
}
